body{background:#f9f9f9;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
@media(min-width:992px) {
#wrapper{margin-left: 200px;padding: 90px 15px 15px;}
.navbar-nav.side-nav{background: #f8f9fa00;box-shadow: 2px 1px 2px rgba(0,0,0,.1);
	position:fixed;top:62px;flex-direction: column!important;left:0;width:200px;
	overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}


.active
{

    border-left: 5px solid #007bff;
    

}

.nav-link
{

    font-size: 20px;
    margin-left: 6px;
  

}

.nav-item:hover
{
	background-color:#8ec2fb; 
}